.maasaimara {
    width: 612px;
    height: 407px;
}

.Mount-Longonot {
    width: 612px;
    height: 407px;
}

.Mtkenya{
    width: 612px;
    height: 407px;
}

.sandybeach{
    width: 612px;
    height: 407px;
}

.staycation{
    width: 612px;
    height: 407px;
}